body{
    background: #772C53;
    color: #DFD6D0;
    transition: 0.3s;
}

.background-mode{
    background: #D0D1FF;
    color: #0F0F25;
    transition: 0.3s;
}

.nav_menu,
h1,
h2{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}

h1{
    text-align: center;
}

h2{
    font-size: 2.5rem;
}

p{
    font-family: "Comfortaa", sans-serif;
    font-size: 2rem;
    cursor: default;
}

.nav_menu,
.dropdown-menu,
.footer{
    background: #44143C;
}

.nav_menu{
    margin-top: 0;
    text-align: right;
    padding: 1rem 1rem;
    text-decoration: none;
    height: 10rem;
    box-shadow: 0 0 1rem #0F0F25;
}

.nav_menu-mode{
    background: #C8E7FF;
    color: #0F0F25;
}

.navbar-nav{
    display: flex;
    width: 100%;
}

.nav_box1{
    margin-top: 2rem;
    width: 5%;
}

.nav_box2{
    margin-top: 1.4rem;
    width: 10vw;
    text-align: center;
}

.nav_box3{
    width: 40%;
}

.nav_box4{
    display: flex;
    justify-content: right;
    margin-right: 0;
    width: 40%;
}

.nav_menu > .nav_container > .nav > .nav_box2 > li > .name{
    color: #DFD6D0;
    text-align: center;
    font-size: 2rem;
}

.btn{
    background: transparent;
    border-color: #DFD6D0;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    transition: 0.3s;
}

.btn:hover{
    background: #DFD6D0;
    color: #0F0F25;
    transition: 0.3s;
}

a{
    color: #DFD6D0;
    text-decoration: none;
}

a:hover{
    background: none;
    text-decoration: none;
    color: #0F0F25;
    transition: 0.3s;
}

.navbar-fixed-top .navbar-nav > li > .name:hover{
    background: none;
    text-decoration: none;
    color: #DFD6D0;
}

.nav_menu > .nav_container > .nav > .nav_box4 > .dropdown > .dropdown-menu{
    top: 9rem;
    right: 10rem;
    position: absolute;
}

.nav_menu > .nav_container > .nav > .nav_box4 > .dropdown > .dropdown-toggle > .glyphicon{
    top: 3rem;
    right: -3rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background: #44143C;
}

.dropdown-menu > li > a{
    color: #DFD6D0;
}

.container{
    display: flex;
}

.box1,
.box2,
.box3,
.about{
    margin-top: 20rem;
}

.box1,
.box2{
    padding: 2rem 4rem;
    width: 45%;
    text-align: center;
}

.box3{
    width: 10%;
}

.project_box{
    margin-top: 4.3rem;
    padding: 2rem 5rem;
    text-align: left;
    background: #44143C;
    border: #DFD6D0;
    border-radius: 2%;
    z-index: -1;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.project_box:hover{
    background: #DFD6D0;
    color: #0F0F25;
    transform: scale(1.05);
}

.project_box > img{
    margin-right: 1rem;
}

.container > .box1 > img{
    width: 25rem;
    height: 25rem;
    left: 10rem;
    margin-bottom: -2rem;
}

.top_button{
    bottom: 7rem;
    right: 5rem;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    display: none;
}

.top_button.visible{
    display: block;
}

.footer{
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    height: 5rem;
    margin-top: 0;
    position: -webkit-sticky;
    position: sticky;
    cursor: default;
}

/*light mode*/
.background-mode{
    background: #D0D1FF;
    color: #0F0F25;
    transition: 0.3s;
}

.nav_menu-mode{
    background: #C8E7FF;
}

.name-mode{
    color: #0F0F25;
}

.nav_menu > .nav_container > .nav > .nav_box2 > li > .name-mode{
    color: #0F0F25;
}

.dropdown-mode .glyphicon{
    color: #0F0F25;
}

.dropdown-mode:hover .dropdown-menu{
    background: #C8E7FF;
}

.dropdown-mode .dropdown-menu > li > a{
    color: #0F0F25;
}

.btn-mode{
    border-color: #0F0F25;
    color: #0F0F25;
    transition: 0.3s;
}

.btn-mode:hover{
    background: #C0FDFF;
    transition: 0.3s;
}

.btn_a-mode{
    color: #0F0F25;
    transition: 0.3s;
}

.project_box-mode{
    background: #C8E7FF;
}

.project_box-mode:hover{
    background: #C0FDFF;
    transform: scale(1.05);
}

.footer-mode{
    background: #C8E7FF;
}

@media only screen and (max-width: 768px) {
    .nav_menu .dropdown-toggle{
        display: block !important;
    }    

    .nav_menu > .nav_container > .nav > .nav_box4 > li{
        display: none;
    }
}