body{
    background: #3C096C;
    color: #DFD6D0;
    transition: 0.3s;
}

.nav_menu,
h1,
h2,
.btn{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    cursor: default;
}

.ml16{
    overflow: hidden;
}

.ml16 .letter{
    display: inline-block;
}

h2{
    font-size: 2.5rem;
}

p{
    font-family: "Comfortaa", sans-serif;
    font-size: 2rem;
    cursor: default;
}

.nav_menu,
.dropdown-menu,
.footer{
    background: #3d348b;
}

.nav_menu{
    margin-top: 0;
    text-align: right;
    padding: 1rem 1rem;
    text-decoration: none;
    height: 10rem;
    width: 100vw;
    box-shadow: 0 0 1rem #0F0F25;
}

.navbar-nav{
    display: flex;
    width: 100%;
}

.nav_box1{
    margin-top: 2rem;
    width: 5%;
}

.nav_box2{
    margin-top: 1.4rem;
    text-align: center;
    margin-left: 4.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.nav_box3{
    width: 40%;
}

.nav_box4{
    display: flex;
    justify-content: right;
    margin-right: 0;
    width: 40%;
}

.btn{
    background: transparent;
    border-color: #DFD6D0;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.btn:focus{
    color: #DFD6D0;
}

.btn:hover{
    background: #DFD6D0;
    color: #0F0F25;
    transition: 0.3s;
}

a{
    color: #DFD6D0;
    text-decoration: none;
}

a:hover{
    background: none;
    text-decoration: none;
    color: #3d348b;
}

.dropdown{
    margin-top: -2.5rem;
    margin-right: 2rem;
}

.nav_menu > .nav_container > .nav > .nav_box4 > .dropdown > .dropdown-menu{
    top: 6rem;
    left: -6rem;
    background: #3d348b;
    position: absolute;
    box-shadow: 0 0 1rem #0F0F25;
}

.nav_menu > .nav_container > .nav > .nav_box4 > .dropdown > .dropdown-menu > li > a{
    color: #DFD6D0;
}

.nav_menu > .nav_container > .nav > .nav_box4 > .dropdown > .dropdown-toggle > .glyphicon{
    top: 3rem;
    right: -3rem;
}

.dropdown-menu > li > a{
    color: #DFD6D0;
}

.dropdown.open .dropdown-toggle .glyphicon {
    display: none;
}

.container{
    display: flex;
}

.box1,
.box2,
.box3,
.about{
    margin-top: 20rem;
}

.box1,
.box3{
    width: 10%;
}

.box2{
    width: 80%;
    text-align: center;
}

.about{
    padding: 2rem 5rem 0;
    margin-top: 10rem;
    display: flex;
    background: #3d348b;
    border-radius: 1rem;
    cursor: default;
    box-shadow: 0 0 1rem #0F0F25;
}

#me{
    width: 40rem;
    height: 40rem;
    margin-top: 5rem;
    margin-left: 10rem;
}

.poster{
    width: 25rem;
    height: 35rem;
    border-radius: 10px;
}

#howl,
#tick,
#wild{
    margin-top: 1rem;
}

.top_button{
    bottom: 7rem;
    right: 5rem;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    display: none;
}

.top_button.visible{
    display: block;
}

.footer{
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    height: 5rem;
    margin-top: 10rem;
    position: -webkit-sticky;
    position: sticky;
    cursor: default;
    box-shadow: 0 0 1rem #0F0F25;
}

/*light mode*/
.background-mode{
    background: #D0D1FF;
    color: #0F0F25;
    transition: 0.3s;
}

.nav_menu-mode{
    background: #C8E7FF;
}

.dropdown-mode .glyphicon{
    color: #0F0F25;
}

.nav_menu > .nav_container > .nav > .nav_box4 > .dropdown > .dropdown-menu-mode {
    background: #C8E7FF;
}

.nav_menu > .nav_container > .nav > .nav_box4 > .dropdown > .dropdown-menu-mode > li > a{
    color: #0F0F25;
}

.btn-mode{
    border-color: #3d348b;
    color: #0F0F25;
    transition: 0.3s;
}

.btn-mode:focus{
    color: #0F0F25;
}

.btn-mode:hover{
    background: #C0FDFF;
    transition: 0.3s;
}

.btn_a-mode{
    color: #0F0F25;
}

.about-mode{
    background: #C8E7FF;
}

.footer-mode{
    background: #C8E7FF;
}

/* responsive */

@media only screen and (max-width: 768px) {
    .nav_menu{
        height: 6rem;
    }

    .logo{
        margin-top: -2.2rem;
    }
    
    #mode{
        width: 3rem !important;
        height: 3rem !important;
        margin-left: 1.5rem;
    }

    .nav_menu > .nav_container > .nav > .nav_box2{
        margin-top: -0.5rem;
        margin-left: 4rem;
        font-size: 1.3rem;
    }

    .nav_menu .dropdown-toggle{
        display: block !important;
    }    

    .nav_menu > .nav_container > .nav > .nav_box4 > li{
        display: none;
    }

    .box1,
    .box3{
        width: 15%;
    }

    .box2{
        margin-top: 10rem;
        width: 70%;
    }

    h1{
        font-size: 2rem;
    }

    p{
        font-size: 1.5rem !important;
    }

    .about{
        margin-top: 5rem;
        padding: 2rem 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2{
        font-size: 1.7rem;
    }

    .container > .box2 > .about > .about_box{
        text-align: center !important;
    }

    .container > .box2 > .about > .about_box > .btn{
        margin-top: 1rem !important;
        margin-bottom: 0rem !important;
        margin-left: 1.5rem;
        font-size: 1.5rem;
    }

    #pin,
    #lang,
    #music,
    #cinema,
    #coffee,
    #game{
        width: 2rem !important;
    }

    #me{
        width: 15rem;
        height: 15rem;
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .poster{
        width: 20rem;
        height: 30rem;
    }

    #friends,
    #age,
    #howl,
    #tick,
    #final,
    #red{
        margin-left: 1rem;
    }

    #age,
    #peaky,
    #final,
    #red,
    #tomb{
        margin-top: 1rem;
    }

    iframe{
        width: 25rem !important;
        height: 40rem !important;
    }

    .top_button{
        right: 1.5rem;
    }

    #top{
        width: 2rem !important;
    }

    .footer > p{
        font-size: 1rem !important;
    }
}